body {
    margin: 0;

}

.logo{
    position: fixed;
    padding: 0;
    width: 100%;
    margin: 0;
    overflow: auto;
}


.sidebar {
    list-style-type: none;
    position: fixed;
    padding: 0;                 /*No padding around list*/
    margin-top: 200px;
    width: 200px;                 /*List will protrude to right by 20% of page*/
    height: 100%;               /*List will take 100% of screen height*/
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active){
    background-color: #555;
    color: white;
}

.content {
    position: fixed;
    background: aliceblue;
    margin-left: 200px;
    margin-top: 200px;
    height: 100%;
    width: 100%;
    padding: 1px 16px;
    overflow: auto;


}

